<?xml version="1.0"  encoding="utf-8" ?>
<common>
  <!--
		-->
  <core
		cacheFactor="5"  version="1" disableBackgroundThreads="false">
    <appSettings>
      <!--<add key="MSSqlServer" value="Provider=Microsoft.Ace.OleDb.12.0;Data Source=|DataDirectory|\chebao.accdb;Jet OleDb:DataBase Password='123!@#';"/>-->
      <add key="MSSqlServer" value="Provider=Microsoft.Jet.OleDb.4.0;Data Source=|DataDirectory|\chebao.mdb;Jet OleDb:DataBase Password='123!@#';"/>
      <add key="MSSqlServerOwner" value=""/>
      <add key="key" value="23456456"/>
    </appSettings>
    <providers>
      <add
      name = "MSSQLCommonDataProvider"
      type = "Chebao.DALSQLServer.CommonSqlDataProvider,Chebao.DALSQLServer"
      connectionStringName = "MSSqlServer"	databaseOwnerStringName = "MSSqlServerOwner"
				/>
    </providers>
  </core>
  <jobs minutes = "1" singleThread = "true">
    <job name = "RefreshProductStockJob" type = "Chebao.TaskAndJob.Job.RefreshProductStockJob,Chebao.TaskAndJob" enabled = "true" enableShutDown = "false" singleThread = "false" minutes="10"/>
  </jobs>
</common>
